<h3 class="mt-3">{{action}} Resume</h3>
<form [formGroup]="resumeForm" (ngSubmit)="addEditResume()">
  <div class="mb-3">
      <label for="templateName" class="form-label">Template Name</label>
      <input formControlName="templateName" type="text" class="form-control" id="templateName" autocomplete="off" autofocus>
      <span class="text-danger" *ngIf="resumeForm.get('templateName')?.invalid && resumeForm.get('templateName')?.touched">
          <strong>Template Name</strong> is required.
      </span>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input formControlName="description" type="text" class="form-control" id="description" autocomplete="off" autofocus>
    <span class="text-danger" *ngIf="resumeForm.get('description')?.invalid && resumeForm.get('description')?.touched">
        <strong>Description</strong> is required.
    </span>
</div>
<div class="mb-3">
    <label for="version" class="form-label">Version</label>
    <input formControlName="version" type="text" class="form-control" id="version" autocomplete="off" autofocus>
    <span class="text-danger" *ngIf="resumeForm.get('version')?.invalid && resumeForm.get('version')?.touched">
        <strong>Version</strong> is required.
    </span>
</div>
<button type="submit" [disabled]="resumeForm.invalid" class="btn btn-primary float-end">Accept</button>
  <button type="button" class="btn btn-secondary" routerLink="/resumes">Back</button>
</form>
